* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  background-color: #131313;
}

h1 {
  color: white;
  font-family: 'Roboto', 'sans-serif';
  text-align: center;
}

h2 {
  color: steelblue;
}

.media-picture {
  height: 400px;
  background-image: url(../img/16-mil-cartazes-de-filmes-e-series-em-hd-sem-textos-4.jpg);
  background-size: 100% 100%;
}

.review-score {
  color: white;
  background-color: #e6bd09;
  padding: 12px;
}

p {
  color: #bdbdbd;
  font-family: 'Roboto', 'sans-serif';
}

a {
  color: yellow;
}

#final-da-pagina {
  color: white;
  margin-bottom: 10px;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.nav>a {
  text-decoration: none;
}

.nav>a:hover {
  text-decoration: underline;
}